@import '@/variables';
@import '@/template';

.main {
  margin: 0 100px 60px 100px;
  display: flex;
  @include flex(column, flex-start, flex-start);
  @include _screenMobile {
    margin: 0 0 0px 0px;
  }
  .nav {
    margin: 32px 0;
    display: flex;
    @include flex(row, space-between, center);
    width: 100%;
    @include _screenMobile {
      margin: 32px 0 7px 0;
      padding: 0 20px;
    }
  }
  .container {
    display: grid;
    grid-template-columns: 31.61% 65.8%;
    gap: 32px;
    width: 100%;
    @include _screenMobile {
      background-color: $colorBackgroundForm;
      grid-template-columns: 1fr;
      gap: 16px;
      padding: 5px 20px 0 20px;
    }
  }
}
