@import '@/variables';
@import '@/template';

.region {
  width: 100%;
  max-width: 618px;
  display: flex;
  @include flex(column, flex-start, flex-start);
  gap: 8px;
  background-color: $colorBackgroundForm;
  border: none;
  border-radius: 10px;
  box-shadow: -1px 1px 20px 0px $borderBlurActive;
  z-index: 10;
  .region__checkbox {
    width: 100%;
    max-width: 554px;
    margin: 16px 32px 16px 32px;
    @include _screenMobile {
      display: none;
    }
  }
  .cities {
    margin: 16px 32px 0px 32px;
    padding-bottom: 8px;
    border-bottom: 1px solid $colorLine;
    @include _screenMobile {
      margin: 0;
      border-bottom: none;
    }
  }
  .wrap {
    width: 100%;
    max-height: 193px;
    padding: 8px 6px 24px 16px;
    @include _screenMobile {
      max-width: 540px;
      padding: 20px 0px 20px 0px;
    }
  }
  .region__wrap {
    width: 100%;
    overflow-y: auto;
    max-height: 161px;
    padding: 0px 10px 0px 0px;
    display: flex;
    @include flex(column, flex-start, flex-start);
    gap: 8px;
    border: none;
    @include _screenMobile {
      max-width: 540px;
      padding: 0px;
      gap: 4px;
    }
  }
  .option {
    padding: 12px 16px;
    max-width: 586px;
    width: 100%;
    display: flex;
    @include flex(row, flex-start, center);
    background-color: $colorBackgroundForm;
    @include font(16px, $colorText, 400);
    line-height: 19.2px;
    text-align: left;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    @include _screenMobile {
      max-width: 540px;
      @include font(14px, $colorText, 400);
      line-height: 16.8px;
      padding: 13px 24px;
      border-radius: 0px;
    }
    &:hover {
      border-radius: 14px;
      background-color: $colorCheckboxHover;
      cursor: pointer;
      @include _screenMobile {
        border-radius: 0px;
      }
    }
    &:active {
      border-radius: 14px;
      background-color: $colorCheckboxActive;
      cursor: pointer;
      @include _screenMobile {
        border-radius: 0px;
      }
    }
  }
  .option_active {
    border-radius: 14px;
    background-color: $colorCheckboxActive;
    @include _screenMobile {
      border-radius: 0px;
    }
  }
}
