// display: flex;
// @include  flex(column, space-between, flex-start);
// border-radius: 100px;
// background: $colorSceletonItem;

@import "@/template";
@import "@/variables";

.card {
  width: 710px;
  height: 840pxpx;
  padding: 32px;
  display: flex;
  @include flex(column, flex-start, flex-start);
  gap: 32px;
  border-radius: 10px;
  background-color: $colorBackgroundForm;
  @include _screenMobile {
    width: 360px;
    // height: 782px;
    height: fit-content;
    padding: 0px 20px;
    gap: 28px;
  }
  .card__info {
    width: 646px;
    height: 176px;
    display: flex;
    @include flex(column, flex-start, flex-start);
    gap: 32px;
    border-bottom: 1px solid $colorButtonBorder;
    @include _screenMobile {
      width: 320px;
      height: 222px;
      display: flex;
      @include flex(column, flex-start, flex-start);
      gap: 32px;
    }
    .card__info__subtitle {
      display: none;
      @include _screenMobile {
        width: 213px;
        height: 32px;
        display: flex;
        @include flex(row, flex-start, center);
        gap: 12px;
      }
      .card__info__subtitle__circle {
        @include _screenMobile {
          width: 32px;
          height: 32px;
          border-radius: 100px;
          background: $colorSceletonItem;
        }
      }
      .card__info__subtitle__txt {
        @include _screenMobile {
          width: 169px;
          height: 18px;
          border-radius: 100px;
          background: $colorSceletonItem;
        }
      }
    }
    .card__info__title {
      width: 357px;
      height: 32px;
      border-radius: 100px;
      background: $colorSceletonItem;
      @include _screenMobile {
        width: 258px;
        height: 20px;
      }
    }
    .card__info__content {
      width: 314px;
      height: 80px;
      display: flex;
      @include flex(column, flex-start, flex-start);
      gap: 16px;
      @include _screenMobile {
        width: 240px;
        height: 74px;
        gap: 16px;
      }
      .card__info__content__top {
        width: 314px;
        height: 16px;
        border-radius: 100px;
        background: $colorSceletonItem;
        @include _screenMobile {
          width: 240px;
          height: 14px;
        }
      }
      .card__info__content__center {
        width: 187px;
        height: 16px;
        border-radius: 100px;
        background: $colorSceletonItem;
        @include _screenMobile {
          width: 164px;
          height: 14px;
        }
      }
      .card__info__content__bottom {
        width: 238px;
        height: 16px;
        border-radius: 100px;
        background: $colorSceletonItem;
        @include _screenMobile {
          width: 201px;
          height: 14px;
        }
      }
    }
  }
  .card__about {
    width: 646px;
    height: 568px;
    display: flex;
    @include flex(column, flex-start, flex-start);
    gap: 24px;
    @include _screenMobile {
      width: 320px;
      height: 532px;
      gap: 24px;
    }
    .card__about__header {
      width: 646px;
      height: 52px;
      padding: 4px;
      display: flex;
      @include flex(column, flex-start, flex-start);
      gap: 16px;
      @include _screenMobile {
        width: 320px;
        height: 52px;
        padding: 4px 0px;
      }

      .card__about__header__top {
        width: 597px;
        height: 16px;
        border-radius: 100px;
        background: $colorSceletonItem;
        @include _screenMobile {
          width: 320px;
          height: 14px;
        }
      }
      .card__about__header__bottom {
        width: 482px;
        height: 16px;
        border-radius: 100px;
        background: $colorSceletonItem;
        @include _screenMobile {
          width: 267px;
          height: 14px;
        }
      }
    }
    .smallBox {
      width: 646px;
      height: 105px;
      display: flex;
      @include flex(column, flex-start, flex-start);
      gap: 20px;
      @include _screenMobile {
        width: 320px;
        height: 96px;
        gap: 20px;
      }
      .smallBox__header {
        width: 646px;
        height: 29px;
        display: flex;
        align-items: center;
        gap: 8px;
        @include _screenMobile {
          width: 320px;
          height: 24px;
        }
        .smallBox__header__title {
          width: fit-content;
          height: 29px;
          @include font(24px, $colorText, 500);
          white-space: nowrap;
          line-height: 28.8px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          @include _screenMobile {
            width: 168px;
            height: 24px;
            @include font(20px, $colorText, 500);
            line-height: 24px;
          }
        }
        .smallBox__header__period {
          width: 100%;
          height: 0;
          border: 1px solid $colorItemBorder;
        }
      }
      .smallBox__content {
        width: 646px;
        height: 56px;
        padding: 4px 0px;
        display: flex;
        @include flex(row, flex-start, flex-start);
        gap: 95px;
        @include _screenMobile {
          width: 320px;
          height: 52px;
          padding: 4px 0px;
          gap: 30px;
        }
        .smallBox__content__center {
          width: 202px;
          height: 56px;
          padding: 4px 0px;
          display: flex;
          @include flex(column, flex-start, flex-start);
          gap: 16px;
          @include _screenMobile {
            width: 320px;
            height: 52px;
            padding: 4px 0px;
          }
          .smallBox__content__center__longItem {
            width: 597px;
            height: 16px;
            border-radius: 100px;
            background: $colorSceletonItem;
            @include _screenMobile {
               width: 320px;
               height: 14px;
             }
          }
          .smallBox__content__center__shortItem {
            width: 482px;
            height: 16px;
            border-radius: 100px;
            background: $colorSceletonItem;
            @include _screenMobile {
               width: 267px;
               height: 14px;
             }
          }
        }
        .smallBox__content__left {
          width: 61px;
          height: 48px;
          display: flex;
          @include flex(column, flex-start, flex-start);
          gap: 16px;
          @include _screenMobile {
            width: 61px;
            height: 44px;
          }
          .smallBox__content__left__item {
            width: 61px;
            height: 14px;
            border-radius: 100px;
            background: $colorSceletonItem;
          }
        }
        .smallBox__content__right {
          width: 490px;
          height: 48px;
          display: flex;
          @include flex(column, flex-start, flex-start);
          gap: 16px;
          @include _screenMobile {
            width: 229px;
            height: 44px;
          }
          .smallBox__content__right__item {
            width: 177px;
            height: 16px;
            border-radius: 100px;
            background: $colorSceletonItem;
            @include _screenMobile {
              height: 14px;
            }
          }
          .smallBox__content__right__longItem {
            width: 410px;
            height: 16px;
            border-radius: 100px;
            background: $colorSceletonItem;
          }
          .smallBox__content__right__shortItem {
            width: 307px;
            height: 16px;
            border-radius: 100px;
            background: $colorSceletonItem;
          }
        }
      }
    }
  }
}
