@import "@/template";
@import "@/variables";

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: $colorBackgroundForm;
  border-radius: 14px;
  padding: 60px;
  max-width: 604px;
  width: 100%;

  h2 {
    color: $colorText;
    font-family: $font;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 28px;
  }

  p {
    color: #222222;
    font-family: $font;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  textarea {
    width: 100%;
    height: 160px;
    padding: 16px 12px;
    border-radius: 10px;
    background-color: $colorButtonLightHover;
    font-family: $font;
    font-size: 16px;
    border: none;
    resize: none;
    margin-bottom: 40px;

    &:focus {
      outline: none;
      border-color: $colorButtonDark;
    }
  }

  .modal_buttons {
    display: flex;
    justify-content: center;
    gap: clamp(12px, 2vw, 32px);
  }

  .button {
    border-radius: 10px;
    font-family: $font;
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 400;
    display: flex;
    @include flex(row, center, center);
    width: 222px;
    height: 46px;
    padding: 12px 24px;
    text-transform: none;
    cursor: pointer;

    &:first-child {
      border: 0.5px solid $colorButtonBorder;
      color: $colorText;
      background-color: $colorButtonLight;

      &:hover {
        background-color: $colorButtonLightHover;
      }

      &:active {
        background-color: #e7edff;
      }
    }

    &:last-child {
      background-color: $colorButtonDark;
      color: $colorTextLight;
      border: none;

      &:hover {
        background-color: $colorButtonDarkHover;
      }

      &:active {
        background-color: $colorButtonDarkActive;
      }
    }
  }
}
