@import '@/variables';
@import '@/template';

.form__page1 {
  display: flex;
  @include flex(column, flex-start, flex-start);
  gap: 32px;
  padding-right: 20px;
  @include _screenMobile {
    padding: 0px;
  }

  .input {
    width: 100%;
    display: flex;
    @include flex(column, flex-start, flex-start);
    gap: 24px;
  }
  .checkbox {
    width: 100%;
    display: flex;
    @include flex(row, flex-start, flex-start);
    gap: 13%;
    @include _screenMobile {
      @include flex(column, flex-start, flex-start);
      gap: 30px;
    }
  }
}
.errorInput {
  border-color: $colorInputBorderError !important;
}
.inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.error {
  border: none;
}
